<div class="currency-detail" *ngIf="currency != null">
  <h1>{{currency.attributes.code}}</h1>
  <ul>
    <li><span class="label">code: </span>{{currency.attributes.code}}</li>
    <li><span class="label">name: </span>{{currency.attributes.name}}</li>
    <li><span class="label">currency_type: </span>{{currency.attributes.currency_type}}</li>
    <li><span class="label">code_iso_numeric3: </span>{{currency.attributes.code_iso_numeric3}}</li>
    <li><span class="label">code_iso_alpha3: </span>{{currency.attributes.code_iso_alpha3}}</li>
  </ul>
</div>
<button (click)="goBack()">go back</button>