<div *ngIf="pagination.totalRecords >= pagination.totalPages" class="pagination">
  <select id="recordsPerPage" class="form-control custom" (change)="onChangeRecordsPerPage($event)" [(ngModel)]="pagination.recordsPerPage">
    <option *ngFor="let records of pagination.recordsPerPageOptions" [value]="records">{{records}}</option>
  </select>

 
    <li class="{{ isActivated('firstPage') ? 'disabled' : ''}}">
      <a (click)="setCurrentPage(pagination.firstPage)">
        <strong> << </strong> 
      </a>
    </li>
 

  
    <li class="previous {{ isActivated('prevPage') ? 'disabled' : ''}}">
      <a (click)="setCurrentPage(pagination.prevPage)"> Previous </a>
    </li>



  <ng-template ngFor let-numPage [ngForOf]="pagination.totalPages | pagination : [pagination.currentPage, 4]" let-i="index">
    <li class="{{(numPage === pagination.currentPage ? 'active disabled' : '')}}">
      <a (click)="setCurrentPage(numPage)">{{numPage}}</a>
    </li>
  </ng-template>

  
    <li class="next {{ isActivated('nextPage') ? 'disabled' : ''}}">
      <a (click)="setCurrentPage(pagination.nextPage)"> Next </a>
    </li>

    <li class="{{ isActivated('lastPage') ? 'disabled' : ''}}">
      <a (click)="setCurrentPage(pagination.lastPage)">
        <strong> >> </strong>
      </a>
    </li>

</div>