<h1> {{ titlePage }} </h1>

<app-search
  (filtersEmit)="searchCurrenciesByFilters($event)"></app-search>

  <ul *ngIf="currencies !== undefined && currencies.length !== 0 else blockCurrenciesNotFound" class="currencies">
    <li *ngFor="let currency of currencies">
      <a routerLink="/currencies/{{currency.id}}">
        <div class="symbol">
          <p class="label"> symbol </p>
          <p>{{currency.attributes.symbol}}</p>
        </div>
        <div class="others">
          <p>
            Id: <span>{{currency.id}}</span>
          </p>
          <p>
            Type: <span>{{currency.attributes.currency_type}}</span>
          </p>
        </div>
      </a>
    </li>
  </ul>

  <ng-template  #blockCurrenciesNotFound>
      No data found
  </ng-template>

<app-pagination
  *ngIf="paginationConfig !== null"
  [pagination]="paginationConfig"
  (pageOrRecordsChange)="searchCurrenciesByPage($event)"></app-pagination>