<h1> {{ titlePage }} </h1>

<app-search
  (filtersEmit)="searchCurrenciesByFilters($event)"></app-search>

<ul>
  <li *ngFor="let currency of currencies">
    <a routerLink="/currencies/{{currency.id}}">
      <span>ID: {{currency.id}}</span>
      <span>Type: {{currency.attributes.currency_type}}</span>
      <span>Symbol: {{currency.attributes.symbol}}</span>
    </a>
  </li>
</ul>

<app-pagination
  *ngIf="paginationConfig !== null"
  [pagination]="paginationConfig"
  (pageOrRecordsChange)="searchCurrenciesByPage($event)"></app-pagination>